// button
[class^="button-"]{
  position:relative;
  display: inline-flex;
  box-sizing: border-box;
  height: 40px;
  padding:0 16px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  //justify-content: center;
  position: relative;
  white-space: nowrap;
  font-weight: 400;
  //overflow: hidden;
  transition: all 0.3s ease-in-out;
  //~ [class*="button-"] {margin-left: 6px;}
  // .icon-text ~ [class^="ic_"]{margin-left:7px;}
  // [class^="ic_"] ~ .icon-text{margin-left:7px;}
  * {cursor: pointer;}
}

// bodx type
.button-rectangle{
  background-color: $color-1A7CFF;
  border-radius: 4px;
  color: $color-ffffff;
  font-weight: 400;
  padding: 0 16px;
    @each $color, $value in $colors {
    &.bg-#{$color}{
      border: none !important;
      background-color: #{$value};
    }
  }
  @media (max-width: $mobile){
    height: 48px;
    padding: 0 20px;
  }
}

.button-outline{
  border:1px solid $color-E6E6E6;
  border-radius: 4px;
  color:$color-181A1C;
  padding: 0 16px;
  background-color: transparent;
  @each $color, $value in $colors {
    &.bd-#{$color}{
      color: #{$value};
      border:1px solid #{$value};
      //&:hover{opacity: 0.7;}
      //&:disabled{ opacity: 0.3 !important;}
    }
  }
  @media (max-width: $mobile){
    height: 48px;
    padding: 0 20px;
  }
}

.button-underline{
  color:$color-181A1C;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-underline-offset: 2px;
  @each $color, $value in $colors {
    &.bd-#{$color}{
      color: #{$value};
      border:1px solid #{$value};
      //&:hover{opacity: 0.7;}
      //&:disabled{ opacity: 0.3 !important;}
    }
  }
}

.button-rectangle, .button-outline{
  &[disabled], &.disabled{
    cursor: default !important;
    opacity: 0.4 !important;
    * {cursor: default !important;}
  }
  &.large{
    height:65px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    max-width: 360px;
  }
  &.medium{
    height:48px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 24px;
  }
  &.small{
    padding:0 16px;
    height:40px;
  }
  img {
    margin-right: 4px;
  }
}

button{
  &:disabled, &.disabled{cursor: default;}
  + button {
    margin-left: 8px;
  }
}
// toggle
.toggle-list-con {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-wrap: wrap;
  .toggle-item {
    width: calc((100% - 72px) / 3);
    flex-shrink: 0;
    max-width: 360px;
    border: 1px solid $color-E6E6E6;
    padding: 16px 24px;
    border-radius: 8px;
    min-height: 78px;
    > div {
      p {
        &.fc-grey181A1C {
          font-size: 16px;
          line-height: 1.5;
        }
        &.fc-grey7E8082 {
          font-size: 12px;
          line-height: 1.3;
          margin-top: 4px;
        }
      }
    }
    
    &.active {
      border: 1px solid $color-1A7CFF;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1A7CFF;
      > div {
        p {
          &.fc-grey181A1C {
            font-weight: 700;
          }
        }
      }
    }
    + .toggle-item {
      margin-left: 24px;
    }
    &:nth-child(4n) {
      margin-left: 0;
    }
    &:nth-child(n + 4) {
      margin-top: 16px;
    }
  }
  @media (max-width: $tablet){
    .toggle-item {
      width: calc((100% - 48px) / 2);
      + .toggle-item {
        margin-left: 24px;
      }
      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(n + 3) {
        margin-top: 16px;
      }
    }
  }
  @media (max-width: $mobile){
    display: block;
    max-width: 100%;
    .toggle-item {
      max-width: 100%;
      width: 100%;
      + .toggle-item {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}


