/********************************************************/
/* icon */
/********************************************************/

[class*="ic12_"]{
  display: inline-block;
  width: 12px; height: 12px;
  transition: all 0.5s ease-in-out;
}
[class*="ic24_"]{
  display: inline-block;
  width: 24px; height: 24px;
  transition: all 0.5s ease-in-out;
}
