// modal
.modal-wrap{
  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 300;
  background-color:rgba($color: #000000, $alpha: 0.6);
}
.alert-box{
  position: relative;
  max-width: 288px;
  width: 95%;
  border-radius: 8px;
  background-color: $color-ffffff;
  z-index: 30;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05),0px 10px 10px rgba(0, 0, 0, 0.05), 0px 0px 15px rgba(0, 0, 0, 0.05) ;
  .alert-contnet{
    @extend .container;
    padding: 24px 24px 0px;
    .alert-title {
      font-size: 18px;
      line-height: 1.3;
      word-break:keep-all;
      letter-spacing: -0.04em;
      margin-bottom: 8px;
    }
    .alert-desc {
      font-size: 16px;
      line-height: 1.5;
      word-break:keep-all;
      letter-spacing: -0.04em;
    }
    .alert-wrong {
      margin-top: 30px;
      padding-bottom: 25px;
    }
  }
  
  .alert-button-con{
    @extend .container;
    padding: 16px;
  }
}

//  tost
.toast-layer{
  width: 100%; 
  max-width: 360px;
  position: absolute;
  display: inline-flex;
  align-items: center;
  padding:13.5px 16px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  color: $color-ffffff;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  word-break: break-all;
  background-color: $color-181A1C;
  z-index: 1;
  opacity: 0;
  transition: 0.2s all;
  img {
    display: block;
    width: 20px;
    height: auto;
    margin-right: 8px;
  }
  &.active {
    opacity: 1;
  }
}
