

.nav-wrap{
    display: block;
    width: 240px;
    min-height: calc(100vh - 64px);
    padding: 20px 32px 20px 26px;
    background-color: $color-F5F7FA;
    flex: none;
    transition: 0.2s all;
    overflow: hidden;
    border-right: 1px solid $color-E6E6E6;
    ul.main-gnb{
        @extend .container;
        > li{
            position: relative;
            width: 100%;
            margin-bottom: 12px;
            white-space: nowrap;
            .main-gnb-item{
                @extend .container;
                display: flex;
                align-items: center;
                font-weight: 700;
                font-size: 12px;
                line-height: 1.4;
                color:$color-424242;
                cursor: pointer;
                padding: 12px 0;
                margin-bottom: 4px !important;
                img {
                    transition: all 0.2s;
                }
            }

            .sub-gnb-con{
                display: none;
                @extend .container;
                li {
                    .sub-gnb-item{
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        color: $color-424242;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.4;
                    }
                    + li {
                        margin-top: 8px;
                    }
                }
            }
            &.active{
                .main-gnb-item {
                    img {
                        transform: rotate(-180deg);
                    }
                }
                .sub-gnb-con{
                    display: block;
                    .sub-gnb-item{
                        &.active{
                            border-radius: 10px;
                            background-color: $color-424242;
                            color: $color-ffffff;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .mo-nav-header {
        padding: 16px;
        padding-bottom: 12px;
        padding-right: 0;
        display: none;
        align-items: center;
        justify-content: space-between;
        .close {
            padding: 0 16px;
        }
    }
    @media (max-width: $tablet){
        background-color: $color-ffffff;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        padding: 0;
        z-index: 3;
        min-height: 100vh;
        height: 100vh;
        overflow: hidden;
        .mo-nav-header {
            display: flex; 
        }
        &.open {
            left: 0;
            padding: 0;
        }
        ul.main-gnb{
            > li{
                .main-gnb-item{
                    padding-left: 16px;
                    padding-right: 16px;
                    font-size: 14px;
                }
                .sub-gnb-con{
                    padding: 0 24px 0 16px;
                    li {
                        .sub-gnb-item{
                            font-size: 16px;
                        }
                        + li {
                            margin-top: 16px;
                        }
                    }
                }
                &.active{
                    .main-gnb-item {
                    }
                    .sub-gnb-con{
                        .sub-gnb-item{
                            &.active{
                               
                            }
                        }
                    }
                }
            }
        }
    }
}