
$font-path: "../../../assets/fonts/";
$weights: (
        300: "Regular",
        400: "Medium",
        500: "SemiBold",
        700: "Bold",
        800: "ExtraBold",
);
@each $weight, $file in $weights {
  @font-face {
    font-family: "pretendard";
    font-style: normal;
      font-weight: $weight;
      src: url("#{$font-path}Pretendard-#{$file}.woff2") format("woff2");
      src: url("#{$font-path}Pretendard-#{$file}.woff2") format("woff2");
  }
}