/* step */
#mateMobile > section.cont[data-step="1"] a{
	display: block;
	position: absolute;
	width: 89.25%;
	top: 34.85%;
	left: 5.33%;
	z-index: 1;
}
#mateMobile > section.cont[data-step="1"] a + a{
	top: 59.48%;
}
#mateMobile > section.cont[data-step="1"] a img{
	position: relative;
	width: 100%;
	transition: 0.2s all;
}

#mateMobile > section.cont[data-step="1"] a:active img{
	transform: scale(0.96);
	-webkit-transform: scale(0.96);
	-moz-transform: scale(0.96);
}

