@charset "utf-8";

// important
$imt : unquote('!important');

// item length
$itemLength : 120;

//default 설정 
:root {
  --color-fill-brand-primary: #{$color-fill-brand-primary};
  --color-contents-default: #{$color-contents-default};
  --border-accent: 1px solid #{$color-border-accent};
}
