/* step */
#mateTablet > section.cont[data-step="1"] button{
	position: absolute;
	width: 6.25%;
	bottom: 15.5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
#mateTablet > section.cont[data-step="1"] button img{
	animation-name: bounce !important;
	animation-duration: 1.2s !important;
	animation-iteration-count: infinite !important;
	animation-timing-function: linear !important; 
}

#mateTablet > section.cont[data-step="2"] button{
	position: absolute;
	width: 96.66%;
	bottom: 2.666%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
#mateTablet > section.cont[data-step="4"] button {
	position: absolute;
	width: 19.375%;
	top: 34%;
	left: 2.71%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}
#mateTablet > section.cont[data-step="5"] button {
	position: absolute;
	width: 19.375%;
	top: 34%;
	left: 2.71%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}
#mateTablet > section.cont[data-step="6"] button{
	position: absolute;
	width: 24.58%;
	top: 18.83%;
	left: 25.05%;
}

#mateTablet > section.cont[data-step="6"] .balloon {
	position: absolute;
	width: 26.56%;
	bottom: 31.58%;
	left: 24.06%;
}
#mateTablet > section.cont[data-step="8"] button{
	position: absolute;
	width: 44.82%;
	bottom: 6.59%;
	right: 4.5%;
}

#mateTablet > section.cont[data-step="8"] .balloon {
	position: absolute;
	width: 21.77%;
	bottom: 18.5%;
	right: 15.52%;
}
#mateTablet > section.cont[data-step="9"] button {
	position: absolute;
	width: 19.375%;
	top: 35%;
	left: 3.5%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}
#mateTablet > section.cont[data-step="10"] button{
	position: absolute;
	width: 47.4%;
	top: 41.75%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="10"] .balloon {
	position: absolute;
	width: 19.11%;
	bottom: 26.75%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="11"] button{
	position: absolute;
	width: 45.3125%;
	bottom: 6.58%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="11"] .balloon {
	position: absolute;
	width: 24.95%;
	bottom: 18.5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="12"] button {
	position: absolute;
	width: 25.8%;
	top: 31.16%;
	right: 38.52%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}

#mateTablet > section.cont[data-step="13"] button{
	position: absolute;
	width: 49.5%;
	bottom: 1.67%;
	right: 1.67%;
}

#mateTablet > section.cont[data-step="13"] .balloon {
	position: absolute;
	width: 18.177%;
	bottom: 13.67%;
	right: 17.34%;
}

#mateTablet > section.cont[data-step="15"] button{
	position: absolute;
	width: 41.04%;
	bottom: 36.14%;
	right: 6%;
}

/* #mateTablet > section.cont[data-step="2"] .scroll-inner-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
} */