/* step */
#mateTablet > section.cont[data-step="1"] button{
	position: absolute;
	width: 6.25%;
	bottom: 15.5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}
#mateTablet > section.cont[data-step="1"] button img{
	animation-name: bounce !important;
	animation-duration: 1.2s !important;
	animation-iteration-count: infinite !important;
	animation-timing-function: linear !important; 
}

#mateTablet > section.cont[data-step="2"] button{
	position: absolute;
	width: 96.66%;
	bottom: 2.666%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="3"] .background{
	position: absolute;
	width: 26.17%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	z-index: 2;
}
#mateTablet > section.cont[data-step="3"]:has(.background.opacityAni1)::after{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content:'';
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	animation-name: opacity;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

#mateTablet > section.cont[data-step="4"] button {
	position: absolute;
	width: 19.375%;
	top: 34%;
	left: 2.71%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}
#mateTablet > section.cont[data-step="5"] button {
	position: absolute;
	width: 19.375%;
	top: 34%;
	left: 2.71%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}
#mateTablet > section.cont[data-step="6"] button{
	position: absolute;
	width: 24.58%;
	top: 18.83%;
	left: 25.05%;
}

#mateTablet > section.cont[data-step="6"] .balloon {
	position: absolute;
	width: 26.56%;
	bottom: 31.58%;
	left: 24.06%;
}
#mateTablet > section.cont[data-step="7"] button{
	position: absolute;
	width: 44.82%;
	bottom: 6.59%;
	right: 4.58%;

	animation-name: opacity;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

#mateTablet > section.cont[data-step="7"] .balloon {
	position: absolute;
	width: 21.77%;
	bottom: 18.5%;
	right: 15.52%;
}
#mateTablet > section.cont[data-step="8"] button {
	position: absolute;
	width: 19.375%;
	top: 35%;
	left: 3.5%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}
#mateTablet > section.cont[data-step="9"] button{
	position: absolute;
	width: 47.4%;
	top: 41.75%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="9"] .balloon {
	position: absolute;
	width: 19.11%;
	bottom: 26.75%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="10"] button{
	position: absolute;
	width: 45.3125%;
	bottom: 6.58%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="10"] .balloon {
	position: absolute;
	width: 24.95%;
	bottom: 18.5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

#mateTablet > section.cont[data-step="11"] button {
	position: absolute;
	width: 25.8%;
	top: 31.16%;
	right: 38.52%;

	opacity: 0;
	animation: delayBtn 0.5s ease forwards;
	animation-delay: 1s;
}

#mateTablet > section.cont[data-step="12"] button{
	position: absolute;
	width: 49.5%;
	bottom: 1.67%;
	right: 1.67%;
}

#mateTablet > section.cont[data-step="12"] .balloon {
	position: absolute;
	width: 18.177%;
	bottom: 13.67%;
	right: 17.34%;
}

#mateTablet > section.cont[data-step="13"] .deco {
	position: absolute;
	width: 35.16%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.2s all;
	animation: cardFloat 1.7s ease-in-out infinite;
	will-change: transform;
}

#mateTablet > section.cont[data-step="14"] .deco{
	position: absolute;
	width: 49.22%;
	top: 50%;
	left: 0.8%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

#mateTablet > section.cont[data-step="14"] button{
	position: absolute;
	width: 41.04%;
	bottom: 36.14%;
	right: 6%;
}

/* #mateTablet > section.cont[data-step="2"] .scroll-inner-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
} */


@keyframes cardFloat {
	0%   { transform: translateX(-50%) translateY(15%); }
	50%  { transform: translateX(-50%) translateY(1%); }
	100% { transform: translateX(-50%) translateY(15%); }
}