<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Comaptible" content="IE=edge, chrome=1">
<title>결제내역_배민쿠폰 결제내역</title>
<!-- SEO: 검색 엔진 최적화 설정 -->
<meta name="description" content="배민오더 사장님">
<meta name="keywords" content="배민오더 사장님, ...">
<!-- 모바일 설정 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 파비콘 -->
<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../assets/images/favicon_48.png">
<link rel="icon" type="image/png" sizes="64x64" href="../assets/images/favicon_64.png">
<link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon_96.png">
<link rel="icon" type="image/png" sizes="146x146" href="../assets/images/favicon_146.png">

<link rel="stylesheet" href="../assets/scss/import.css">  
<script type="text/javascript" src="../assets/js/default.js"></script>
</head>
<body>

<!-- 루트 엘리먼트 : 시작 -->
<div id="app">
  <!-- 페이지 루트 : 시작 (모바일 nav-wrap.open 시 root-wrap에 hp-100vh클래스 붙여주세요.  )-->
  <div class="root-wrap">

    <!-- 헤더 : 시작 -->
    <div class="header-wrap">
      <nav id="gnbWrap">
          <h1>
            <a href="#" class="logo" title="배민오더사장님">
              <img src="../assets/images/logo_white.png" alt="배민오더사장님로고">
            </a>
          </h1>
          <div class="util-wrap">
            <span class="fs-12 fc-greyB1B3B5 fw-400">2025년 1월 1일 13:46:20</span>
            <span class="fs-12 fc-greyffffff fw-400">홍길동</span>
          </div>
          <!-- 모바일 햄버거 버튼 -->
          <button type="button" class="mo-manu">
            <img src="../assets/images/icon/ic_buger.svg" alt="">
          </button>
      </nav>
    </div>
    <!-- 헤더 : 끝 -->

    <!--- 컨텐츠 루트: 시작 --->
    <div class="content-wrap">
      <!-- 좌 네비게이션 : 시작 (모바일에서는 open 토글 클래스 부탁드립니다.) -->
      <div class="nav-wrap">

        <!-- 모바일 lnb 헤더 -->
        <div class="mo-nav-header">
          <div class="util-wrap">
            <span class="fs-18 fc-grey181A1C fw-700 dp-b">홍길동</span>
            <span class="fs-12 fc-grey7E8082 fw-400">2025년 1월 1일 13:46:20</span>
          </div>
          <button type="button" class="close">
            <img src="../assets/images/icon/ic_close.svg" alt="">
          </button>
        </div>

        <ul class="main-gnb">
          <!-- li에 active클래스 붙이면 열림 -->
          <li class="">
            <div class="main-gnb-item">
              <div class="flex1">결제관리</div>
              <img src="../assets/images/icon/ic_arrow_down.svg" alt="">
            </div>

            <!-- sub gnb --->
            <ul class="sub-gnb-con">
              <li>
                <a href="#" class="sub-gnb-item">
                  배민쿠폰 결제
                </a>
              </li>
              <li>
                <a href="#" class="sub-gnb-item">
                  배민상품권 결제
                </a>
              </li>
            </ul>
          </li>

          <li class="active">
            <div class="main-gnb-item">
              <div class="flex1">결제내역</div>
              <img src="../assets/images/icon/ic_arrow_down.svg" alt="">
            </div>

            <!-- sub gnb --->
            <ul class="sub-gnb-con">
              <li>
                <a href="#" class="sub-gnb-item active">
                  쿠폰 결제내역
                </a>
              </li>
              <li>
                <a href="#" class="sub-gnb-item">
                  상품권 결제내역
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <!-- 좌 네비게이션 : 끝 -->

      <!-- 컨텐츠 : 시작 -->
      <div class="content-box page">
        <div class="container ph-40">
          <div class="content-header">
            <h3 class="sub-title fs-32">
              쿠폰 결제내역
            </h3>
          </div>
        </div>

        <!-- 이너 컨텐츠 : 시작 -->
        <div class="inner-box">

          <!-- 필터 : 시작 -->
          <div class="container ph-40">
            <div class="line-box has-gery mb-28">
              
              <div class="filter-wrap">
                <ul>
                  <li class="filter-item">
                    <div class="filter-name">결제상태</div>
                    <div>
                      <div class="dp-f align-items-center">
                        <label class="button-input" for="r1">
                          <div class="radiobox">
                            <input type="radio" id="r1" name="1" checked> <span class="check-icon"></span>
                          </div>
                          <span class="text">전체</span>
                        </label>
                        <label class="button-input" for="r2">
                          <div class="radiobox">
                            <input type="radio" id="r2" name="1"> <span class="check-icon"></span>
                          </div>
                          <span class="text">결제완료</span>
                        </label>
                        <label class="button-input" for="r3">
                          <div class="radiobox">
                            <input type="radio" id="r3" name="1"> <span class="check-icon"></span>
                          </div>
                          <span class="text">결제취소</span>
                        </label>
                      </div>
                    </div>
                  </li>
                  <li class="filter-item">
                    <div class="filter-name">조건</div>
                    <div>
                      <div class="length-2">
                        <!-- 드롭다운메뉴 : 시작 -->
                        <div class="dropdown-con w-180 active"> <!-- active 클래스 추가 삭제에 따른 옵션레이어 출력 여부 정의-->
                          <div class="dropdown-list-header">
                            <div>휴대폰번호</div>
                            <img src="../assets/images/icon/ic_arrow_down.svg" alt="">
                          </div>
                    
                          <!-- 옵션 레이어 -->
                          <div class="dropdown-list-layer">
                            <ul>
                              <li class="active"> 
                                <div>휴대폰번호</div>
                              </li>
                              <li>
                                <div>쿠폰번호</div>
                              </li>
                              <li>
                                <div>쿠폰명</div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- 드롭다운메뉴 : 끝 -->

                        <!-- 인풋 : 시작 -->
                        <div class="input-field-con w-386">
                          <input type="text" class="hp-40" placeholder="-없이 번호만 입력">
                        </div>
                        <!-- 인풋 : 끝 -->
                      </div>
                    </div>
                  </li>
                  <li class="filter-item">
                    <div class="filter-name">기간</div>
                    <div>
                      <div class="input-field-con w-386">
                        <ul class="tab-type-a">
                          <li class="active">
                            <button type="button">오늘</button>
                          </li>
                          <li>
                            <button type="button">어제</button>
                          </li>
                          <li>
                            <button type="button">지난 7일</button>
                          </li>
                          <li>
                            <button type="button">1개월</button>
                          </li>
                          <li>
                            <button type="button">전체</button>
                          </li>
                        </ul>
                      </div>

                      <div class="calendar-con mt-8">
                        <div class="input-field-con date has-icon"><!-- date 클래스 추가  -->
                          <input type="text" class="hp-40" placeholder="" value="2024. 01. 01(월) ~ 2024. 01. 01(월)" readonly> <!-- readonly 기본 클릭시 달력 레이어 출력, 값 선택시 밸류값 변경해주세요  -->
                          <span>
                            <img src="../assets/images/icon/ic_calendar.svg" alt="">
                          </span>
                        </div>
                        <!-- 달력 : 시작 dp-n 클래스 토글 (인풋 활성화 스타일 css로 제어) -->
                        <div class="calendar-wrap dp-n" style="top: calc(100% + 8px)">
                          <div class="calendar-controller">
                            <button type="button"><img src="../assets/images/icon/ic_arrow_left.svg"></button>
                            <div class="calendar-title">2022년 4월</div>
                            <button type="button"><img src="../assets/images/icon/ic_arrow_right.svg"></button>
                          </div>
                
                          <div class="calendar-week-title">
                            <div class="calendar-cell"><span>일</span></div>
                            <div class="calendar-cell"><span>월</span></div>
                            <div class="calendar-cell"><span>화</span></div>
                            <div class="calendar-cell"><span>수</span></div>
                            <div class="calendar-cell"><span>목</span></div>
                            <div class="calendar-cell"><span>금</span></div>
                            <div class="calendar-cell"><span>토</span></div>
                          </div>
                
                          <!-- 시작날짜 start 클래스, 끝나는 날짜 end / 비어있는 칸엔 empty 클래스 추가---->
                          <div class="calendar-week">
                
                            <!-- 1주 -->
                            <div class="calendar-cell empty"><span></span></div>
                            <div class="calendar-cell empty"><span></span></div>
                            <div class="calendar-cell empty"><span></span></div>
                            <div class="calendar-cell"><span>1</span></div>
                            <div class="calendar-cell"><span>2</span></div>
                            <div class="calendar-cell"><span>3</span></div>
                            <div class="calendar-cell"><span>4</span></div>
                
                             <!-- 2주 -->
                            <div class="calendar-cell"><span>5</span></div>
                            <div class="calendar-cell"><span>6</span></div>
                            <div class="calendar-cell"><span>7</span></div>
                            <div class="calendar-cell"><span>8</span></div>
                            <div class="calendar-cell"><span>9</span></div>
                            <div class="calendar-cell"><span>10</span></div>
                            <div class="calendar-cell"><span>11</span></div>
                
                             <!-- 3주 -->
                            <div class="calendar-cell"><span>12</span></div>
                            <div class="calendar-cell"><span>13</span></div>
                            <div class="calendar-cell"><span>14</span></div>
                            <div class="calendar-cell"><span>15</span></div>
                            <div class="calendar-cell end"><span>16</span></div>
                            <div class="calendar-cell"><span>17</span></div>
                            <div class="calendar-cell"><span>18</span></div>
                
                             <!-- 4주 -->
                            <div class="calendar-cell"><span>19</span></div>
                            <div class="calendar-cell"><span>20</span></div>
                            <div class="calendar-cell"><span>21</span></div>
                            <div class="calendar-cell"><span>22</span></div>
                            <div class="calendar-cell"><span>23</span></div>
                            <div class="calendar-cell"><span>24</span></div>
                            <div class="calendar-cell"><span>25</span></div>
                
                             <!-- 5주 -->
                            <div class="calendar-cell"><span>26</span></div>
                            <div class="calendar-cell"><span>27</span></div>
                            <div class="calendar-cell"><span>28</span></div>
                            <div class="calendar-cell"><span>29</span></div>
                            <div class="calendar-cell"><span>30</span></div>
                            <div class="calendar-cell empty"><span></span></div>
                            <div class="calendar-cell empty"><span></span></div>
                
                          </div>

                          <div class="calendar-bottom">
                            <div class="calendar-btn dp-f align-items-center justify-between">
                              <div>
                                <button type="button" class="button-underline medium">초기화</button>
                              </div>
                              <div class="dp-f">
                                <button type="button" class="button-outline medium bd-blue1A7CFF">취소</button>
                                <button class="button-rectangle medium">적용</button>
                              </div>
                            </div>
                          </div>
                
                        </div>
                        <!-- 달력 : 끝 -->
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="dp-f align-items-center justify-center">
                <button type="button" class="button-outline">
                  초기화
                </button>
                <button type="button" class="button-rectangle">
                  <img src="../assets/images/icon/ic_search.svg" alt="">
                  검색
                </button>
              </div>

            </div>
          </div>
          <!-- 필터 : 끝 -->

          <!-- 결제건, 결제금액 안내 : 시작 -->
          <div class="container ph-40">
            <div class="line-box">
              <div class="fs-16 fw-900 fc-grey181A1C mb-16">전체</div>
              <div class="info-box dp-f align-items-center justify-between">
                <div class="dp-f align-items-center">
                  <span class="fs-14 w-130 mr-8">결제건</span>
                  <span class=" dp-f align-items-center"><span class="fc-blue1A7CFF fw-400 fs-20">999999+</span><span class="fs-16 fw-300 fc-grey181A1C pl-4">건</span></span>
                </div>
                <div class="dp-f align-items-center justify-between">
                  <span class="fs-14 w-130 mr-8">결제금액</span>
                  <span class=" dp-f align-items-center"><span class="fc-blue1A7CFF fw-700 fs-24">1,000,000</span><span class="fs-16 fw-300 fc-grey181A1C pl-4">원</span></span>
                </div>
              </div>
            </div>
          </div>
          <!-- 결제건, 결제금액 안내 : 끝 -->

          <!-- 테이블 영역 : 시작 -->
          <div class="container">
            <div class="table-wrap">
              <div class="dp-f justify-between align-items-center mb-16 ph-40">
                <div class="left dp-f align-items-center">
                  <div class="fs-16 flex-none fw-400 mr-16">목록 <span class="fs-12 fc-grey7E8082 fw-300 pl-4">(총 10개)</span></div>
                  <!-- 드롭다운메뉴 : 시작 -->
                  <div class="dropdown-con"> <!-- active 클래스 추가 삭제에 따른 옵션레이어 출력 여부 정의-->
                    <div class="dropdown-list-header">
                      <div>10개씩 보기</div>
                      <img src="../assets/images/icon/ic_arrow_down.svg" alt="">
                    </div>
              
                    <!-- 옵션 레이어 -->
                    <div class="dropdown-list-layer">
                      <ul>
                        <li class="active"> 
                          <div>10개씩 보기</div>
                        </li>
                        <li>
                          <div>100개씩 보기</div>
                        </li>
                        <li>
                          <div>300개씩 보기</div>
                        </li>
                        <li>
                          <div>500개씩 보기</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- 드롭다운메뉴 : 끝 -->
                </div>
                <div class="right dp-f">
                  <button type="button" class="button-outline small fw-500">
                    결제취소
                  </button>
                </div>
              </div>
              <div class="table-box">
                <!-- pc 리스트 (모바일은 ui 달라 별도로 뺏습니다.) : 시작-->
                <table>
                  <colgroup>
                      <col width="4%">
                      <col width="4.1%">
                      <col width="10.2%">
                      <col width="11%">
                      <col width="7.5%">
                      <col width="7.5%">
                      <col width="10.2%">
                      <col width="7.7%">
                      <col width="9.5%">
                      <col width="*%">
                      <col width="*%">
                      <col width="7%">
                  </colgroup>
                  <thead>
                      <tr>
                        <th>
                          <span></span>
                        </th>
                        <th class="ta-c"><span>NO</span></th>
                        <th><span>휴대폰번호</span></th>
                        <th><span>주문번호</span></th>
                        <th><span>결제수단</span></th>
                        <th><span>쿠폰코드</span></th>
                        <th><span>쿠폰명</span></th>
                        <th><span>주문금액</span></th>
                        <th><span>결제금액(쿠폰)</span></th>
                        <th><span>결제일시</span></th>
                        <th><span>취소일시</span></th>
                        <th class="ta-c"><span>결제상태</span></th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- 리스트가 없을때 입니다. -->
                      <tr>
                        <td colspan="11">
                          <div class="list-none">선택한 기간의 결제 내역이 없습니다</div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td class="ta-c">
                          <label class="button-input" for="r4">
                            <div class="radiobox">
                              <input type="radio" id="r4" name="2"> <span class="check-icon"></span>
                            </div>
                          </label>
                        </td>
                        <td class="ta-c">1</td>
                        <td>010-1234-4567</td>
                        <td>0123456789</td>
                        <td>쿠폰</td>
                        <td>A12345</td>
                        <td>10%할인쿠폰</td>
                        <td>30,000</td>
                        <td>25,500</td>
                        <td>2024. 1. 1. 13:00</td>
                        <td>-</td>
                        <td class="ta-c"><span class="badge blue">결제완료</span></td>
                      </tr>
                      <tr>
                        <td class="ta-c">
                          <label class="button-input" for="r5">
                            <div class="radiobox">
                              <input type="radio" id="r5" name="2" disabled> <span class="check-icon"></span>
                            </div>
                          </label>
                        </td>
                        <td class="ta-c">2</td>
                        <td>010-1234-4567</td>
                        <td>0123456789</td>
                        <td>쿠폰</td>
                        <td>A12345</td>
                        <td>10%할인쿠폰</td>
                        <td>30,000</td>
                        <td>25,500</td>
                        <td>2024. 1. 1. 13:00</td>
                        <td>2024. 1. 1. 13:00</td>
                        <td class="ta-c"><span class="badge green">취소완료</span></td>
                      </tr>
                      <tr>
                        <td class="ta-c">
                          <label class="button-input" for="r6">
                            <div class="radiobox">
                              <input type="radio" id="r6" name="2" disabled> <span class="check-icon"></span>
                            </div>
                          </label>
                        </td>
                        <td class="ta-c">10</td>
                        <td>010-1234-4567</td>
                        <td>0123456789</td>
                        <td>쿠폰</td>
                        <td>A12345</td>
                        <td>10%할인쿠폰</td>
                        <td>30,000</td>
                        <td>25,500</td>
                        <td>2024. 1. 1. 13:00</td>
                        <td>2024. 1. 1. 13:00</td>
                        <td class="ta-c"><span class="badge green">취소완료</span></td>
                      </tr>
                      <tr>
                        <td class="ta-c">
                          <label class="button-input" for="r7">
                            <div class="radiobox">
                              <input type="radio" id="r7" name="2"> <span class="check-icon"></span>
                            </div>
                          </label>
                        </td>
                        <td class="ta-c">1</td>
                        <td>010-1234-4567</td>
                        <td>0123456789</td>
                        <td>쿠폰</td>
                        <td>A12345</td>
                        <td>10%할인쿠폰</td>
                        <td>30,000</td>
                        <td>25,500</td>
                        <td>2024. 1. 1. 13:00</td>
                        <td>-</td>
                        <td class="ta-c"><span class="badge blue">결제완료</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- pc 리스트 (모바일은 ui 달라 별도로 뺏습니다.) : 끝-->


                  <!-- 모바일 리스트 card-list-wrap: 시작-->
                  <div class="card-list-wrap">

                    <div class="list-none">
                      <div>
                        <img src="../assets/images/icon/ic_nodata.svg" alt="">
                        선택한 기간의 결제 내역이 없습니다
                      </div>
                    </div>

                    <!-- 리스트 : 시작-->
                    <ul>
                      <!-- line-box: 시작-->
                      <li class="line-box">
                        <div class="list-head dp-f align-items-center">
                          <div>
                            <label class="button-input" for="r4-1">
                              <div class="radiobox">
                                <input type="radio" id="r4-1" name="2"> <span class="check-icon"></span>
                              </div>
                              <span class="badge blue ml-8">결제완료</span>
                              <span class="fs-16 fw-400 ml-8">#0123456789</span>
                            </label>
                          </div>
                        </div>
                        <div class="list-body">
                          <div class="body-item dp-f justify-between">
                            <span class="name">휴대폰 번호</span>
                            <span>010-1234-5678</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">결제수단</span>
                            <span>쿠폰</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">쿠폰코드/명</span>
                            <span>A12345/10%할인쿠폰</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">주문금액</span>
                            <span>25,000원</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">(쿠폰)결제금액</span>
                            <span>20,000원</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">결제(취소)일시</span>
                            <span>2024. 1. 1. 13:00</span>
                          </div>
                        </div>
                      </li>
                      <!-- line-box: 끝-->

                      <!-- line-box: 시작-->
                      <li class="line-box">
                        <div class="list-head dp-f align-items-center">
                          <div>
                            <label class="button-input" for="r4-2">
                              <div class="radiobox">
                                <input type="radio" id="r4-2" name="2"> <span class="check-icon"></span>
                              </div>
                              <span class="badge green ml-8">취소완료</span>
                              <span class="fs-16 fw-400 ml-8">#0123456789</span>
                            </label>
                          </div>
                        </div>
                        <div class="list-body">
                          <div class="body-item dp-f justify-between">
                            <span class="name">휴대폰 번호</span>
                            <span>010-1234-5678</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">결제수단</span>
                            <span>쿠폰</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">쿠폰코드/명</span>
                            <span>A12345/10%할인쿠폰</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">주문금액</span>
                            <span>25,000원</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">(쿠폰)결제금액</span>
                            <span>20,000원</span>
                          </div>
                          <div class="body-item dp-f justify-between">
                            <span class="name">결제(취소)일시</span>
                            <span>2024. 1. 1. 13:00</span>
                          </div>
                        </div>
                      </li>
                      <!-- line-box: 끝-->

                    </ul>
                      <!-- 리스트 : 끝-->

                  </div>
                  <!-- 모바일 리스트: 끝-->
              </div>

              <!-- pc 페이지네이션 (모바일은 더보기버튼) : 시작-->
              <div class="pager-con ph-40">
                <button class="prev"><img src="../assets/images/icon/ic_arrow_left.svg"></button>
                <button class="active"><span>1</span></button>
                <button><span>2</span></button>
                <button><span>3</span></button>
                <button><span>4</span></button>
                <button><span>5</span></button>
                <button class="next"><img src="../assets/images/icon/ic_arrow_right.svg"></button>
              </div>
              <!-- pc 페이지네이션 (모바일은 더보기버튼) : 끝-->

              <!-- 모바일 더보기버튼 : 시작-->
              <div class="add-btn ph-40">
                <div class="mb-16 mt-10">
                  <img src="../assets/images/icon/ic_add.png" alt="">
                </div>
                <button type="button" class="button-outline small">
                  더보기
                  <img src="../assets/images/icon/ic_plus.svg" alt="" class="mr-0 ml-4">
                </button>
              </div>
              <!-- 모바일 더보기버튼 : 끝-->
            </div>
          </div>
          <!-- 테이블 영역 : 끝 -->

        </div>
        <!-- 이너 컨텐츠 : 끝 -->

      </div>
      <!-- 컨텐츠 : 끝 -->
    </div>
    <!--- 컨텐츠 루트 : 끝 --->

  </div>
  <!-- 페이지 루트 : 끝 -->
</div>
<!-- 루트 엘리먼트 : 끝 -->


</body>
</html>