<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Comaptible" content="IE=edge, chrome=1">
<title>공통!</title>
<!-- SEO: 검색 엔진 최적화 설정 -->
<meta name="description" content="배민오더 사장님">
<meta name="keywords" content="배민오더 사장님, ...">
<!-- 모바일 설정 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 파비콘 -->
<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../assets/images/favicon_48.png">
<link rel="icon" type="image/png" sizes="64x64" href="../assets/images/favicon_64.png">
<link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon_96.png">
<link rel="icon" type="image/png" sizes="146x146" href="../assets/images/favicon_146.png">

<link rel="stylesheet" href="../assets/scss/import.css">  
</head>
<body>

<!-- 루트 엘리먼트 : 시작 -->
<div id="app">
  <!-- 페이지 : 시작 -->
  <div class="root-wrap">


  </div>
  <!-- 페이지 : 끝 -->

  <!-- toast-->
  <div class="toast-layer">
    <div class="dp-f align-items-center ">
      <span><img src="../assets/images/icon/ic_check_circle.svg" alt=""></span>
      <span>결제완료 되었습니다.</span>
    </div>
  </div>


</div>
<!-- 루트 엘리먼트 : 끝 -->



</body>
</html>