<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Comaptible" content="IE=edge, chrome=1">
<title>공통!</title>
<!-- SEO: 검색 엔진 최적화 설정 -->
<meta name="description" content="배민오더 사장님">
<meta name="keywords" content="배민오더 사장님, ...">
<!-- 모바일 설정 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 파비콘 -->
<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../assets/images/favicon_48.png">
<link rel="icon" type="image/png" sizes="64x64" href="../assets/images/favicon_64.png">
<link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon_96.png">
<link rel="icon" type="image/png" sizes="146x146" href="../assets/images/favicon_146.png">

<link rel="stylesheet" href="../assets/scss/import.css"> 
</head>
<body>
  <div id="app">
    <div class="root-wrap">
      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">check</h3>
    
        <div class="dp-f align-items-center">
          <label class="button-input" for="c1">
            <div class="checkbox">
              <input type="checkbox" id="c1"> <span class="check-icon"></span>
            </div>
            <span class="text">텍스트</span>
          </label>
          <label class="button-input" for="c2">
            <div class="checkbox">
              <input type="checkbox" id="c2"> <span class="check-icon"></span>
            </div>
            <span class="text">텍스트</span>
          </label>
        </div>
    
      </div>
    
      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">radio</h3>
    
        <div class="dp-f align-items-center">
          <label class="button-input" for="r1">
            <div class="radiobox">
              <input type="radio" id="r1" name="1"> <span class="check-icon"></span>
            </div>
            <span class="text">텍스트</span>
          </label>
          <label class="button-input" for="r2">
            <div class="radiobox">
              <input type="radio" id="r2" name="1"> <span class="check-icon"></span>
            </div>
            <span class="text">텍스트</span>
          </label>
        </div>
    
    
      </div>
    
    
    
      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">button</h3>
        <div class="dp-f align-items-center mb-8">
          <button class="button-rectangle">BUTTON</button>
          <button class="button-rectangle medium">BUTTON</button>
          <button class="button-rectangle large">BUTTON</button>
        </div>
        <div class="dp-f align-items-center mb-8">
          <button class="button-outline">BUTTON</button>
          <button type="button" class="button-outline medium">BUTTON</button>
          <button type="button" class="button-outline large">BUTTON</button>
        </div>
        <div class="dp-f align-items-center">
          <button type="button" class="button-rectangle">
            <img src="../assets/images/icon/ic_search.svg" alt="">
            BUTTON
          </button>
        </div>
      </div>

      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">toggle</h3>
        <div class="toggle-list-con">
          <button type="button" class="toggle-item active">
            <div>
              <p class="fc-grey181A1C">내점</p>
              <p class="fc-grey7E8082">내점에서 주문된 주문 내역만 결제 가능합니다</p>
            </div>
          </button>
          <button type="button" class="toggle-item">
            <div>
              <p class="fc-grey181A1C">포장</p>
              <p class="fc-grey7E8082">포장으로 주문된 주문 내역만 결제 가능합니다</p>
            </div>
          </button>
        </div>
      </div>

      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">tab</h3>
        <ul class="tab-type-a">
          <li class="active">
            <button type="button">오늘</button>
          </li>
          <li>
            <button type="button">어제</button>
          </li>
          <li>
            <button type="button">지난7일</button>
          </li>
          <li>
            <button type="button">1개월</button>
          </li>
          <li>
            <button type="button">전체</button>
          </li>
        </ul>
      </div>

      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">step</h3>
        <ul class="tab-type-b">
          <li class="active">
            <span>step1</span>
          </li>
          <li>
            <span>step2</span>
          </li>
          <li>
            <span>step3</span>
          </li>
          <li>
            <span>step4</span>
          </li>
        </ul>
      </div>
    
      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">pager</h3>
        <div class="dp-f align-items-center">
          <div class="pager-con">
            <button class="prev"><img src="../assets/images/icon/ic_arrow_left.svg"></button>
            <button class="active"><span>1</span></button>
            <button><span>2</span></button>
            <button><span>3</span></button>
            <button><span>4</span></button>
            <button><span>5</span></button>
            <button class="next"><img src="../assets/images/icon/ic_arrow_right.svg"></button>
          </div>
        </div>
      </div>

      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">badge</h3>
        <div class="dp-f align-items-center gap-4">
          <span class="badge blue">결제완료</span>
          <span class="badge green">취소완료</span>
        </div>
      </div>
    
      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">input-field</h3>
        <div class="input-field-wrap dp-f align-items-center mb-16">
          <div class="label fc-grey181A1C">
            <span>텍스트</span>
          </div>
          <!-- 유효성 검사 에러나는 인풋의 input-field-con에 error 클래스 붙여주세요 -->
          <div class="input-field-con">
            <input type="text" placeholder="제목을 입력해주세요">
          </div>
        </div>

        <div class="input-field-wrap dp-f align-items-center mb-16">
          <div class="label fc-grey181A1C require">
            <span>제목</span>
          </div>
          <!-- 유효성 검사 에러나는 인풋의 input-field-con에 error 클래스 붙여주세요 -->
          <div class="input-field-con error">
            <input type="text" placeholder="제목을 입력해주세요">
          </div>
        </div>

        <div class="input-field-wrap dp-f align-items-center mb-16">
          <div class="label fc-grey181A1C require">
            <span>주문금액</span>
          </div>
          <!-- 인풋필드에 단위가 있는 경우 has-unit 클래스 붙여주세요.-->
          <div class="input-field-con has-unit">
            <input type="text" placeholder="주문금액을 입력하세요.">
            <span>원</span>
          </div>
        </div>

        <div class="dp-f align-items-center mb-16">
          <div class="label fc-grey181A1C require">
            <span>주문금액</span>
          </div>
          <!-- 인풋필드에 아이콘버튼 있는 경우 has-icon 클래스 붙여주세요.-->
          <div class="input-field-con has-icon">
            <input type="text" placeholder="주문금액을 입력하세요.">
            <div class="input-msg justify-between">
              <div class="fc-grey7E8082">휴대폰번호로 전송된 인증번호를 입력해주세요</div>
              <div class="fc-blue1A7CFF dp-f">
                <span>01:41</span>
                <button type="button" class="ml-8 text-underline">재전송</button>
              </div>
            </div>
          </div>
        </div>

        <div class="input-field-wrap dp-f align-items-center mb-16">
          <div class="label fc-grey181A1C">
            <span>주문금액</span>
          </div>
          <!-- 인풋필드에 단위가 있는 경우 has-unit 클래스 붙여주세요.-->
          <div class="input-field-con has-unit">
            <input type="text" value="25,000" placeholder="주문금액을 입력하세요." readonly>
            <span>원</span>
          </div>
        </div>

        <div class="input-field-wrap dp-f align-items-center mb-16">
          <div class="label fc-grey181A1C">
            <span>주문금액</span>
          </div>
          <!-- 인풋필드에 단위가 있는 경우 has-unit 클래스 붙여주세요.-->
          <div class="input-field-con has-unit">
            <input type="text" value="25,000" placeholder="주문금액을 입력하세요." readonly>
            <span>원</span>
          </div>
        </div>

        <div class="input-field-wrap dp-f align-items-center">
          <!-- label의 필수 품목에만 require 클래스 붙여주세요!-->
          <div class="label fc-grey181A1C require">
            <span>휴대폰번호</span>
          </div>

          <div class="dp-f wd-100p">
            <div class="input-field-con w-488">
              <input type="text" placeholder="휴대폰번호 숫자만 입력">

              <!-- //전송 확인 문구-->
              <div class="input-msg fc-green00B96B">
                <img src="../assets/images/icon/ic_check_circle.svg" alt="" class="mr-4">
                휴대폰번호로 인증번호가 전송되었습니다
              </div>

              <div class="input-msg fc-redFF403E">
                <img src="../assets/images/icon/icon_wrong.svg" alt="" class="mr-4">
                유효성 체크 문구
              </div>
            </div>

            <button type="button" class="button-outline bd-blue1A7CFF medium ml-8">
              전송
            </button>

          </div>
        </div>

      </div>
    
      <div class="container pv-20" style="width: 800px; padding: 40px; margin-bottom: 500px;">
        <h3 class="fs-24 bold mb-16">calendar</h3>

        <!-- 기본 -->
        <div class="calendar-con">
          <div class="input-field-con date has-icon"><!-- date 클래스 추가  -->
            <input type="text" class="hp-40" placeholder="" value="2024. 01. 01(월) ~ 2024. 01. 01(월)" readonly> <!-- readonly 기본 클릭시 달력 레이어 출력, 값 선택시 밸류값 변경해주세요  -->
            <span>
              <img src="../assets/images/icon/ic_calendar.svg" alt="">
            </span>
          </div>
          <!-- 달력 : 시작 dp-n 클래스 토글 (인풋 활성화 스타일 css로 제어) -->
          <div class="calendar-wrap" style="top: calc(100% + 8px)">
            <div class="calendar-controller">
              <button type="button"><img src="../assets/images/icon/ic_arrow_left.svg"></button>
              <div class="calendar-title">2022년 4월</div>
              <button type="button"><img src="../assets/images/icon/ic_arrow_right.svg"></button>
            </div>
  
            <div class="calendar-week-title">
              <div class="calendar-cell"><span>일</span></div>
              <div class="calendar-cell"><span>월</span></div>
              <div class="calendar-cell"><span>화</span></div>
              <div class="calendar-cell"><span>수</span></div>
              <div class="calendar-cell"><span>목</span></div>
              <div class="calendar-cell"><span>금</span></div>
              <div class="calendar-cell"><span>토</span></div>
            </div>
  
            <!-- 시작날짜 start 클래스, 끝나는 날짜 end / 비어있는 칸엔 empty 클래스 추가---->
            <div class="calendar-week">
  
              <!-- 1주 -->
              <div class="calendar-cell empty"><span></span></div>
              <div class="calendar-cell empty"><span></span></div>
              <div class="calendar-cell empty"><span></span></div>
              <div class="calendar-cell"><span>1</span></div>
              <div class="calendar-cell"><span>2</span></div>
              <div class="calendar-cell"><span>3</span></div>
              <div class="calendar-cell"><span>4</span></div>
  
               <!-- 2주 -->
              <div class="calendar-cell"><span>5</span></div>
              <div class="calendar-cell"><span>6</span></div>
              <div class="calendar-cell"><span>7</span></div>
              <div class="calendar-cell start"><span>8</span></div>
              <div class="calendar-cell"><span>9</span></div>
              <div class="calendar-cell"><span>10</span></div>
              <div class="calendar-cell"><span>11</span></div>
  
               <!-- 3주 -->
              <div class="calendar-cell"><span>12</span></div>
              <div class="calendar-cell"><span>13</span></div>
              <div class="calendar-cell"><span>14</span></div>
              <div class="calendar-cell"><span>15</span></div>
              <div class="calendar-cell"><span>16</span></div>
              <div class="calendar-cell"><span>17</span></div>
              <div class="calendar-cell"><span>18</span></div>
  
               <!-- 4주 -->
              <div class="calendar-cell"><span>19</span></div>
              <div class="calendar-cell"><span>20</span></div>
              <div class="calendar-cell"><span>21</span></div>
              <div class="calendar-cell"><span>22</span></div>
              <div class="calendar-cell"><span>23</span></div>
              <div class="calendar-cell end"><span>24</span></div>
              <div class="calendar-cell"><span>25</span></div>
  
               <!-- 5주 -->
              <div class="calendar-cell"><span>26</span></div>
              <div class="calendar-cell"><span>27</span></div>
              <div class="calendar-cell"><span>28</span></div>
              <div class="calendar-cell"><span>29</span></div>
              <div class="calendar-cell"><span>30</span></div>
              <div class="calendar-cell empty"><span></span></div>
              <div class="calendar-cell empty"><span></span></div>
  
            </div>

            <div class="calendar-bottom">
              <div class="calendar-btn dp-f align-items-center justify-between">
                <div>
                  <button type="button" class="button-underline medium">초기화</button>
                </div>
                <div class="dp-f">
                  <button type="button" class="button-outline medium bd-blue1A7CFF">취소</button>
                  <button class="button-rectangle medium">적용</button>
                </div>
              </div>
            </div>
  
          </div>
          <!-- 달력 : 끝 -->
        </div>

      </div>

      <div class="container pv-20" style="width: 800px; padding: 40px;">
        <h3 class="fs-24 bold mb-16">dropdown</h3>
        <div class="dp-b">
          <div class="input-field-con">
            <!-- 드롭다운메뉴 : 시작 -->
            <div class="dropdown-con round w-310 active"> <!-- active 클래스 추가 삭제에 따른 옵션레이어 출력 여부 정의-->
              <div class="dropdown-list-header">
                <div>전체</div>
                <img src="../assets/images/icon/ic_arrow_down.svg" alt="">
              </div>
        
              <!-- 옵션 레이어 // 스크롤이 필요한 셀렉트에는 has-scroll 붙여주세요!-->
              <div class="dropdown-list-layer has-scroll">
                <ul>
                  <li class="active"> 
                    <div>1</div>
                  </li>
                  <li>
                    <div>2</div>
                  </li>
                  <li>
                    <div>3</div>
                  </li>
                  <li>
                    <div>4</div>
                  </li>
                  <li>
                    <div>5</div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 드롭다운메뉴 : 끝 -->
          </div>
          <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        
        </div>
      </div>
    
    
    </div>
  </div>

</body>
</html>