<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Comaptible" content="IE=edge, chrome=1">
<title>공통!</title>
<!-- SEO: 검색 엔진 최적화 설정 -->
<meta name="description" content="배민오더 사장님">
<meta name="keywords" content="배민오더 사장님, ...">
<!-- 모바일 설정 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 파비콘 -->
<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../assets/images/favicon_48.png">
<link rel="icon" type="image/png" sizes="64x64" href="../assets/images/favicon_64.png">
<link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon_96.png">
<link rel="icon" type="image/png" sizes="146x146" href="../assets/images/favicon_146.png">

<link rel="stylesheet" href="../assets/scss/import.css">  
</head>
<body>

<!-- 루트 엘리먼트 : 시작 -->
<div id="app">
  <!-- 페이지 : 시작 -->
  <div class="root-wrap">


  </div>
  <!-- 페이지 : 끝 -->

  <!-- 모달 : 시작  //  app 마지막 단에서 호출!-->
  <div class="modal-wrap">

    <div class="alert-box">
      <div class="alert-contnet">
        <div class="alert-title">결제 취소하시겠습니까?</div>
        <div class="alert-desc">선택한 N개의 상품이 삭제됩니다.</div>
      </div>
      <div class="alert-button-con dp-f justify-end">
        <button class="button-outline">닫기</button>
        <button class="button-rectangle bg-redFF403E">신청 취소</button>
      </div>
    </div>

    <div class="alert-box">
      <div class="alert-contnet">
        <div class="alert-desc">선택한 기간의 결제 내역이 없습니다.</div>
      </div>
      <div class="alert-button-con dp-f justify-end">
        <button class="button-rectangle">확인</button>
      </div>
    </div>

    <div class="alert-box">
      <div class="alert-contnet">
        <div class="alert-desc">배민오더 서비스가 해지되어<br/> 자동 로그아웃 되었습니다.</div>
      </div>
      <div class="alert-button-con dp-f justify-end">
        <button class="button-outline">취소</button>
        <button class="button-rectangle">확인</button>
      </div>
    </div>


  </div>
  <!-- 모달 : 끝 -->


</div>
<!-- 루트 엘리먼트 : 끝 -->



</body>
</html>