@charset "utf-8";

// import
@import './import';


table { width: 100%;}
#navWrap {
    .nav-wrap {
        height: 72px;
        padding: 0px 32px;  
        box-sizing: border-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow-x: visible;
        border-bottom: 1px solid #21212126;
        background-color: #ffffff;
        .gnb {
           .gnb-list {
            a {
                display: block;
                height: 100%;
                line-height: 72px;
                border-bottom: 2px solid transparent;
                &.active {
                    border-bottom: 2px solid #0F6AEB;
                }
            }
           } 
        }
    }
}

#lnbWrap {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 240px;
    width: 240px;
    border-right: 1px solid #21212126;
    .lnb-list {
        .list-item {
            > ul {
                padding: 16px 8px;
                > li {
                    > a {
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 3px;
                        padding: 0px 8px 0px 16px;
                        height: 36px;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        span {
                            @include typo(desktop, body, l, regular);
                        }
                    }
                    &.active {
                        > a {
                            background-color: #ededed;
                            span {
                                @include typo(desktop, body, l, bold);
                            }
                        }
                    }
                }
            }
        }
    }
}

#article {
    width: 100%;
    padding-left: 240px;
}

#mainContent {
    .page {
        padding: 96px 60px;
        width: 1430px;
        margin: auto;
    }
}

.only-guide {
    margin-top: 16px;
    width: 100%;
    thead {
        height: 56px;
        background-color: #EAEAEA;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
    }
    tbody {
        tr {
            td {
                height: 80px;
                padding: 8px 18px;
                box-sizing: border-box;
                font-weight: 400;
            }
            &.line {
                td {
                    border-top: 1px solid #CECECE;
                }
            }
        }
    }
    .grey-label {
        padding: 10px;
        border-radius: 6px;
        background-color: #F0F0F0;
    }
}



